<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h2 class="mb-0"><b>Edit Project</b></h2>
    </div>
    <div class="card-body">
      <form [formGroup]="updateProjectForm">
        <div class="row">
          <div class="col-md-4 mb-3">
            <app-input-box
              label="Project Name"
              type="text"
              placeholder="Enter Project Name"
              name="project_name"
              formControlName="projectName"
            />
            <div class="validation-message">
              @if(updateProjectForm.controls['projectName'].errors?.['required']
              && updateProjectForm.controls['projectName'].touched){
              <span>*Please enter project name</span>
              }
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <app-input-box
              label="Project Description"
              type="text"
              placeholder="Enter Project Description"
              name="project_description"
              formControlName="projectDescription"
            />
            <div class="validation-message">
              @if(updateProjectForm.controls['projectDescription'].errors?.['required']
              && updateProjectForm.controls['projectDescription'].touched){
              <span>*Please enter project description</span>
              }
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <app-input-box
              label="Project Technology"
              type="text"
              placeholder="Enter Project Technology"
              name="project_tech"
              formControlName="projectTech"
            />
            <div class="validation-message">
              @if(updateProjectForm.controls['projectTech'].errors?.['required']
              && updateProjectForm.controls['projectTech'].touched){
              <span>*Please enter project technology</span>
              }
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <app-input-box
              label="Project Lead"
              type="text"
              placeholder="Enter Project Lead"
              name="project_lead"
              formControlName="projectLead"
            />
            <div class="validation-message">
              @if(updateProjectForm.controls['projectLead'].errors?.['required']
              && updateProjectForm.controls['projectLead'].touched){
              <span>*Please enter project lead</span>
              }
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <app-input-box
              label="Project Manager"
              type="text"
              placeholder="Enter Project Manager"
              name="project_manager"
              formControlName="projectManager"
            />
            <div class="validation-message">
              @if(updateProjectForm.controls['projectManager'].errors?.['required']
              && updateProjectForm.controls['projectManager'].touched){
              <span>*Please enter project manager</span>
              }
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <app-input-box
              label="Project Client"
              type="text"
              placeholder="Enter Project Client"
              name="project_client"
              formControlName="projectClient"
            />
            <div class="validation-message">
              @if(updateProjectForm.controls['projectClient'].errors?.['required']
              && updateProjectForm.controls['projectClient'].touched){
              <span>*Please enter project client</span>
              }
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <app-select-dropdown
              [label]="'Project Status'"
              formControlName="projectStatus"
              [options]="statusOptions"
            />

            <div class="validation-message">
              @if(updateProjectForm.controls['projectStatus'].errors?.['required']
              && updateProjectForm.controls['projectStatus'].touched){
              <span>*Please select project status</span>
              }
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <app-select-dropdown
              [label]="'Management tool'"
              formControlName="manageTool"
              [options]="manageToolOptions"
            />

            <div class="validation-message">
              @if(updateProjectForm.controls['manageTool'].errors?.['required']
              && updateProjectForm.controls['manageTool'].touched){
              <span>*Please select management tool</span>
              }
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <app-input-box
              label="Management url"
              type="text"
              placeholder="Enter Management url"
              name="manage_url"
              formControlName="manageUrl"
            />

            <div class="validation-message">
              @if(updateProjectForm.controls['manageUrl'].errors?.['required']
              && updateProjectForm.controls['manageUrl'].touched){
              <span>*Please enter management url</span>
              }
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <app-select-dropdown
              [label]="'Repository tool'"
              formControlName="repoTool"
              [options]="repoToolOptions"
            />

            <div class="validation-message">
              @if(updateProjectForm.controls['repoTool'].errors?.['required'] &&
              updateProjectForm.controls['repoTool'].touched){
              <span>*Please select repository tool</span>
              }
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <app-input-box
              label="Repository url"
              type="text"
              placeholder="Enter Repository url"
              name="repo_url"
              formControlName="repoUrl"
            />

            <div class="validation-message">
              @if(updateProjectForm.controls['repoUrl'].errors?.['required'] &&
              updateProjectForm.controls['repoUrl'].touched){
              <span>*Please enter repository url</span>
              }
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <app-input-box
              label="Project Budget"
              type="number"
              placeholder="Project Budget"
              name="project_budget"
              formControlName="projectBudget"
            />

            <div class="validation-message">
              @if(updateProjectForm.controls['projectBudget'].errors?.['required']
              && updateProjectForm.controls['projectBudget'].touched){
              <span>*Please enter project budget</span>
              }
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <app-date-picker
              label="Project Start Date"
              placeholder="Select Start Date"
              formControlName="projectStartDate"
              name="project_deadline_date"
            />
            <div class="validation-message">
              @if(updateProjectForm.controls['projectStartDate'].errors?.['required']
              && updateProjectForm.controls['projectStartDate'].touched){
              <span>*Please select start date</span>
              }
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <app-date-picker
              label="Project Deadline Date"
              placeholder="Project Select Deadline Date"
              formControlName="projectDeadlineDate"
              name="project_deadline_date"
            />
            <div class="validation-message">
              @if(updateProjectForm.controls['projectDeadlineDate'].errors?.['required']
              && updateProjectForm.controls['projectDeadlineDate'].touched){
              <span>*Please enter deadline date</span>
              }
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <app-select-dropdown
              formControlName="projectPriority"
              [options]="projectPriorityOptions"
              label="Project Priority"
            />
            <div class="validation-message">
              @if(updateProjectForm.controls['projectPriority'].errors?.['required']
              && updateProjectForm.controls['projectPriority'].touched){
              <span>*Please enter project priority</span>
              }
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <app-input-box
              label="Project Location"
              type="text"
              placeholder="Project Location"
              name="project_location"
              formControlName="projectLocation"
            />
            <div class="validation-message">
              @if(updateProjectForm.controls['projectLocation'].errors?.['required']
              && updateProjectForm.controls['projectLocation'].touched){
              <span>*Please enter project location</span>
              }
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <app-checkBox
              [formControlName]="'projectType'"
              [options]="projectTypeOptions"
              [label]="'Project type'"
            />
            <div class="validation-message">
              @if(updateProjectForm.controls['projectType'].errors?.['required']
              && updateProjectForm.controls['projectType'].touched){
              <span>*Please select Project Type</span>
              }
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <app-radio
              [formControlName]="'projectApproveStatus'"
              [options]="projectApvStatusOptions"
              [label]="'Project Approval Status'"
            />
            <div class="validation-message">
              @if(updateProjectForm.controls['projectApproveStatus'].errors?.['required']
              && updateProjectForm.controls['projectApproveStatus'].touched){
              <span>*Please select a Project Approval Status</span>
              }
            </div>
          </div>
          <div class="d-grid mt-3">
            <app-button
              [class]="'btn btn-primary'"
              (click)="onUpdateProject()"
              [label]="'  Update project'"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
