<div class="m-header" style="margin-top: 20px; margin-left: 20px">
  <a href="javascript:" class="b-brand">
    <img
      src="../../../../../assets/images/logo-icon.svg"
      alt="theme-logo"
      class="logo logo-icon logo-lg"
    />
  </a>
  <h4 style="margin-top: 2px">Angular</h4>
</div>

<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card my-5">
        <form [formGroup]="loginForm">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-end mb-4">
              <h3 class="mb-0"><b>Login</b></h3>
              <a [routerLink]="['/auth/signup']" class="link-primary"
                >Don't have an account?</a
              >
            </div>
            <div class="form-group-login">
              <app-input-box
                label="Email"
                type="text"
                placeholder="Enter Email"
                name="user_email"
                formControlName="email"
              />

              <div class="validation-message">
                @if (loginForm.controls['email'].invalid &&
                loginForm.controls['email'].touched) {
                <span>Email is required</span>
                } @else if (loginForm.controls['email'].errors?.['email']) {
                <span>Email is invalid</span>
                }
              </div>
            </div>
            <div class="form-group-login">
              <app-input-box
                label="Password"
                type="password"
                placeholder="Enter password"
                name="user_password"
                formControlName="password"
              />
              <div class="validation-message">
                @if (loginForm.controls['password'].errors?.['required'] &&
                loginForm.controls['password'].touched) {
                <span>Password is required</span>
                } @else if (loginForm.controls['password'].errors?.['pattern'])
                {
                <span>Password is invalid</span>
                }
              </div>
            </div>

            <div class="project-btn-wrapper">
              <app-button
                [class]="'btn btn-primary login-btn'"
                (click)="onLogin()"
                [label]="'Login'"
              />
            </div>
          </div>
        </form>
      </div>
        </div>
  </div>
</div>
