<nav>
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="javascript:" class="b-brand">
        <img
          src="../../../../../assets/images/logo-icon.svg"
          alt="theme-logo"
          class="logo logo-icon logo-lg"
        />
      </a>
      <h4 style="margin-top: 8px;">Angular</h4>
    </div>
    <ng-scrollbar
      style="height: calc(100vh - 49px)"
      visibility="hover"
      id="nav-ps-mantis"
    >
      <div class="navbar-content">
        <ul
          class="nav custom-sidebar"
          (clickOutside)="fireOutClick()"
          (mouseleave)="navMob()"
        >
          @for (item of navigations; track item) {
            <li [ngClass]="item.classes!" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{ exact: true }">
            <a
              [target]="item.target ? '_blank' : '_self'"
              [routerLink]="[item.url]"
              (click)="closeOtherMenu($event)"
              class="sidebar-items"
            >
              @if (item.icon) {
              <span class="coded-micon">
                <mat-icon style="padding-top:4px ;">{{ item.icon }}</mat-icon>
              </span>
              } @if (item.icon) {
              <span class="coded-mtext" style="margin-top: 10px;">{{ item.title }}</span>
              } @else {
              {{ item.title }}
              }
            </a>
          </li>
           }
        </ul>
      </div>
    </ng-scrollbar>
  </div>
</nav>
