<header class="pc-header">
  <div class="header-wrapper">
    <div class="pc-mob-drp">
      <ul class="list-unstyled">
        <li class="pc-h-item pc-sidebar-collapse">
            
            <mat-icon (click)="navCollapse()">menu</mat-icon>
            
        </li>
      </ul>
    </div>
    <div>
      <ul class="list-unstyled">
        <app-dark-toggle/>
        
        <li class="dropdown pc-h-item header-user-profile" ngbDropdown>
          <a
            class="pc-head-link dropdown-toggle arrow-none me-0"
            ngbDropdownToggle
          >
            <img
              src="assets/images/user/avatar-2.jpg"
              alt="user-image"
              class="user-avatar me-2"
            />
            <span class="f-w-600"
              >{{ data?.user_first_name }} {{ data?.user_last_name }}</span
            >
          </a>
          <div
            class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown"
            ngbDropdownMenu
          >
            <div class="dropdown-header">
              <div class="d-flex mb-1">
                <div class="flex-shrink-0">
                  <img
                    src="assets/images/user/avatar-2.jpg"
                    alt="user-image"
                    class="user-avatar wid-35"
                  />
                </div>
                <div class="flex-grow-1 ms-3 text-start">
                  <h6 class="mb-0 align-center user-name">
                    {{ data?.user_first_name }} {{ data?.user_last_name }}
                  </h6>
                </div>
                <!-- <a href="javascript:" class="bg-transparent" 
                  ><mat-icon (click)="onLogout()">logout</mat-icon>
                </a> -->
              </div>
            </div>
            <ul ngbNav #nav="ngbNav" class="mat-tabs">
              
              <app-tabs [tabs]="userTabs" />
            </ul>
            <div [ngbNavOutlet]="nav"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>

