/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/variables";
@import "scss/settings/color-variables";
@import "scss/settings/theme-variables";
@import "scss/settings/bootstrap-variables";
@import "scss/themes/generic.scss";
@import "scss/themes/general.scss";
@import "scss/themes/components/components.scss";
@import "scss/themes/layouts/menu/sidebar.scss";
@import "scss/themes/layouts/navbar/navbar.scss";
@import "scss/themes/layouts/pc-common.scss";
@import "scss/themes/layouts/breadcrumb/breadcrumb.scss";
@import "scss/themes/layouts/footer/footer.scss";
@import "scss/themes/preset-style.scss";
@import "ngx-toastr/toastr";

.validation-message {
  color: red;
  font-size: 14px;
}

.danger {
  color: red;
}

.form-control {
  border: 1px solid #a3a3a3;
}

.bold-header {
  font-weight: 500;
  border-bottom: 1px solid #a3a3a3;
  background-color: var(--ag-header-bg);
  color: var(--ag-header-color);
  font-size: 13px;
}

.ag-cell-value {
  font-size: 13px !important;
}
.navbar-wrapper{
  border-right: solid 1px #a3a3a3;
}

button.btn.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bs-body-bg-color);
}
.ag-root-wrapper.ag-layout-normal.ag-ltr {
  background-color: var(--ag-bg-color) !important;
}
.ag-row {
  background-color: var(--ag-bg-color) !important;
  color: var(--ag-color);
}
.ag-paging-panel {
  color: var(--ag-color);
}
.ag-picker-field-wrapper {
  background-color: var(--ag-dropdown-bg-color) !important;
}

.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  height: 0;
}

.m-header {
  display: flex;
}

//mat-tab

app-tabs {
  width: 285px !important;
}

mat-label {
  font-size: 14px !important;
}

.mat-icon {
  margin-right: 5px;
}

.ag-picker-field-display {
  color: var(--ag-color);
}
.ag-pinned-right-header {
  background: var(--ag-header-bg) !important;
}

.ag-header-viewport {
  background: var(--ag-header-bg) !important;
}
// mat-ui

.label-mi {
  color: var(--mi-label-color);
}

.action-icons i {
  font-size: 14px !important;
  display: flex;
  justify-content: center;
  color: var(--ag-color);
}


.action-icons {
margin-top: 4px;
height: 28px;
width: 28px;
border: 1px solid var(--ag-color);
}
.action-icons:hover{
border: 1px solid var(--ag-color);

}

.ag-row-hover {
  background-color: var(--ag-hover-bg) !important;
}
.ag-column-hover{
  background-color: var(--ag-column-hover-color);
}
.ag-filter {
background-color: var(--ag-filter-bg);
}
.ag-input-field-input {
background-color: var(--ag-dropdown-bg-color);
color: var(--ag-color);
}

.ag-input-field-input::placeholder {
color: var(--ag-color) !important;
}

.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
  height: 50px;
}
.card .card-header {
  border: 0px;
}
.card {
  border: 0px;
}

a.sidebar-items.ng-tns-c928852301-0:hover {
  color: #0d6efd;
}
mat-toolbar.mat-toolbar.mat-primary.mat-toolbar-single-row {
  background: var(--mi-toggle-bg);
}

//add and edit form
.project-btn-wrapper {
  width: 100% !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 100px;
}

.reset-btn {
  margin-left: 10px;
  margin-right: 20px;
}

.mb-3 {
  margin-bottom: 0px !important;
}

.validation-message {
  height: 32px;
}

.mat-mdc-form-field-focus-overlay {
  background-color: var(--mat-sys-surface-variant);
}

.login-btn {
  width: 460px !important;
}

.ag-tooltip {
  background-color: var(--ag-bg-color);
  color: var(--ag-color);
}
.search-input-container {
  display: flex;
  height: 45px;
  align-items: center;
}

.search-select {
  border: none;
  background: none;
  margin-left: 10px;
}

button.btn.btn-danger.action-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-mdc-form-field-required-marker {
  color: red;
}
.ag-input-field-label {
  color: var(--ag-color);
}

//Dark theme

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,
    )
  );
}

html.dark-mode {
  color-scheme: dark;
  @include mat.theme(
    (
      color: mat.$azure-palette,
    )
  );
}

//dark mode
html.dark-mode {
  --pc-body-bg: #121212;
  --pc-heading-color: #d6d6d6;
  --pc-active-background: #1e1e1e;
  --pc-sidebar-background: #1e1e1e;
  --pc-sidebar-color: #bfbfbf;
  --pc-sidebar-active-color: #1677ff;
  --pc-sidebar-caption-color: #d6d6d6;
  --pc-sidebar-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  --pc-header-background: #1e1e1e;
  --pc-header-color: #d6d6d6;
  --pc-header-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  --pc-card-box-shadow: inset 0 0 0 1px #262626;
  --pc-header-submenu-background: #1e1e1e;
  --pc-header-submenu-color: #d6d6d6;
  --pc-container-bg-color: #1e1e1e;
  --pc-dropdown-menu-bg-color: #1e1e1e;
  --pc-dropdown-menu-color: #d6d6d6;
  --pc-card-bg-color: #1e1e1e;
  --pc-dropdown-active-bg-color: #1e1e1e;
  --pc-dropdown-menu-inactive-color: #d6d6d6 !important;
  --bs-body-bg-color: #1e1e1e;
  --ag-bg-color: #1e1e1e !important;
  --ag-color: #d6d6d6 !important;
  --ag-dropdown-bg-color: #1e1e1e !important;
  --mi-label-color: #d6d6d6;
  --ag-hover-bg: #2f2f2f !important;
  --ag-even-row-bg: #0f0f0fc0 !important;
  --ag-header-bg: #0e0e0e;
  --ag-header-color: rgb(220, 220, 220);
  --ag-filter-bg: #101010;
  --mi-toggle-bg: #1e1e1e;
  --ag-light-hover: #222326af;
  --mi-chips-color: white;
  --ag-column-hover-color:#111a21c2;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cdk-overlay-container {
  z-index: 1000000;
  backdrop-filter: blur(2px);
}