.change-password {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 75px;
}
.change-password-header{
    margin-left: 10px;
    margin-right: 10px;
}