<div class="auth-wrapper v3">
  <div class="auth-form">
    <div
      class="d-flex justify-content-between align-items-end mb-4"
      style="margin-left: 25px"
    >
      <h3 class="mb-0"><b>Change Password</b></h3>
    </div>
    <hr />
    <div class="card my-5 change-password">
      <form [formGroup]="ChangePasswordForm">
        <div class="card-body">
          <div class="row">
            <div class="form-group mb-3">
              <app-input-box
                label="Current Password"
                type="password"
                placeholder="Enter Current Password"
                name="current_password"
                formControlName="currentPass"
              />
              <div class="validation-message">
                @if(ChangePasswordForm.controls['currentPass'].invalid &&
                ChangePasswordForm.controls['currentPass'].touched){
                <span>*Please enter current password</span>
                }
              </div>
            </div>

            <div class="form-group mb-3">
              <app-input-box
                label="New Password"
                type="password"
                placeholder="Enter New Password"
                name="new_password"
                formControlName="newPass"
              />
              <div class="validation-message">
                @if(ChangePasswordForm.controls['newPass'].errors?.['required']
                && ChangePasswordForm.controls['newPass'].touched){
                <span>*Please enter new password</span>
                } @else if
                (ChangePasswordForm.controls['newPass'].errors?.['pattern']) {
                <span>*Password is invalid </span>
                }
              </div>
            </div>
            <div class="form-group mb-3">
              <app-input-box
                label="Confirm Password"
                type="password"
                placeholder="Enter Confirm Password"
                name="confirm_pass"
                formControlName="confirmPass"
              />
              <div class="validation-message">
                @if(ChangePasswordForm.controls['confirmPass'].errors?.['required']
                && ChangePasswordForm.controls['confirmPass'].touched){
                <span>*Please enter confirm password</span>
                } @else if ((ChangePasswordForm.controls['confirmPass'].value)
                !== (ChangePasswordForm.controls['newPass'].value)) {
                <span>New password and confirm password does not match</span>
                }
              </div>
            </div>

            <div class="col-md-6">
              <div class="d-grid mt-3">
                <app-button
                  [class]="'btn btn-primary'"
                  (click)="ChangePassword()"
                  [label]="' Change Password'"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-grid mt-3">
                <app-button
                  [class]="'btn btn-primary'"
                  (click)="onBack()"
                  [label]="'Back'"
                />
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
